<!-- transactions/templates/transactions/producers/producer_detail.html -->
{% extends 'transactions/producer/producer_base.html' %}
{% load static %}

{% block content_profile_detail %}

<div class="tab-pane fade show active profile-overview" id="profile-overview">
    <h2>{{ producer.company_name }}</h2>

    <!-- Autres détails du profil -->

    <form method="post" action="{% url 'update_products' producer.id %}">
        {% csrf_token %}
        
        <label for="id_product">Produits</label>
        <select id="id_product" name="product" multiple>
            {% for product in all_products %}
                <option value="{{ product.id }}" {% if product in selected_products %} selected {% endif %}>
                    {{ product.product_label }}
                </option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Initialisation du sélecteur de produits avec les produits déjà sélectionnés
    var selectedProducts = JSON.parse('{{ selected_products_json|escapejs }}');
    var select = document.getElementById('id_product');
    
    // Fonction pour mettre à jour la liste des produits sélectionnés
    select.addEventListener('change', function() {
        selectedProducts = Array.from(select.selectedOptions, option => option.value);
    });
});
</script>

{% endblock %}
