<!--DRC_TRANSACTIONS/transactions/templates/clients/client_form.html-->

{% extends 'transactions/base.html' %}

{% block title %}
{% if client %}
Éditer {{ client.company_name }} - DRC Transactions
{% else %}
Ajouter un Client - DRC Transactions
{% endif %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-12">
            <h2>{% if client %}Éditer {{ client.company_name }}{% else %}Ajouter un Client{% endif %}</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
