{% extends 'transactions/base.html' %}

{% block title %}
Confirmation de Suppression - DRC Transactions
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Confirmation de Suppression</h2>
            <p>Êtes-vous sûr de vouloir supprimer {{ client.company_name }}?</p>
            <form action="{% url 'remove_client' client.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Confirmer la Suppression</button>
                <a href="{% url 'clients_list' %}" class="btn btn-secondary">Annuler</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
