<!-- transactions/templates/transactions/clients/manage_client.html -->

{% extends 'transactions/base.html' %}

{% block content %}

<h1 class="text-lg font-bold text-gray-800 dark:text-gray-200">Gérer les clients</h1>

{% include "transactions/clients/partials/messages.html" %}

<div class="px-6 my-6" x-data="{ showForm: false }">
    <button
      @click="showForm = true"
      class="flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
    >
      Nouveau client
      <span class="ml-2" aria-hidden="true">+</span>
    </button>

    <div id="client-form" class="mb-4" x-show="showForm">
        <form id="clientForm" action="{% url 'transactions:client_create' %}" method="post" enctype="multipart/form-data" hx-post="{% url 'transactions:client_create' %}" hx-target="#client-list" hx-swap="innerHTML">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="flex justify-end space-x-2">
                <button 
                    hx-get="{% url 'transactions:transactions_list' %}" 
                    hx-target="#modal-container" 
                    hx-trigger="click delay:500ms"
                    hx-trigger-name="modal-button"
                    hx-swap="innerHTML"
                    type="submit" 
                    @click="$dispatch('open-modal1')" 
                    class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">
                    Ajouter Client
                </button>
                <button type="button" @click="showForm = false" class="px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700">Annuler</button>
            </div>
        </form>
    </div>
</div>

<div id="client-list" hx-get="{% url 'transactions:client_list' %}" hx-trigger="load">
    <!-- La liste des clients sera chargée ici -->
</div>
{% endblock %}

