<!-- templates/account/password_reset_done.html -->
{% extends "base.html" %}
{% load i18n allauth account %}
{% load crispy_forms_tags %}

{% block title %}
    {% trans "Réinitialisation du mot de passe" %} - DRC Transactions
{% endblock title %}

{% block content %}
    <div class="flex justify-center mt-10">
        <div class="w-full max-w-lg">
            <div class="bg-white shadow-md rounded-lg p-6">
                <div class="py-4 text-gray-500 dark:text-gray-400">
                    <div class="flex items-center justify-between w-full">
                        <h1 class="text-2xl font-semibold">
                            {% trans "Réinitialisation du mot de passe" %}
                        </h1>
                        <div class="relative w-16 h-16">
                            <img 
                                src="{% static 'img/logo.png' %}" 
                                alt="Logo DRC Transactions" 
                                class="object-cover w-full h-full rounded-full"
                                onerror="this.style.display='none'; this.nextElementSibling.style.display='block';"
                            >
                        </div>
                    </div>

                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p class="mb-4 text-center">
                        {% blocktrans %}Nous vous avons envoyé un email. Si vous ne l'avez pas reçu, veuillez vérifier votre dossier spam. Sinon, contactez-nous si vous ne le recevez pas dans quelques minutes.{% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
