<!-- transactions/transactions/partials/transaction-detail.html -->
{% load widget_tweaks %}
{% load humanize %}
{% load crispy_forms_tags %}

<div x-data="{ modalTransactionDetail: true }">
    <!-- Modal -->
    <div x-show="modalTransactionDetail" class="fixed inset-0 z-50 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-end justify-center min-h-screen px-4 text-center md:items-center sm:block sm:p-0">
            <div x-cloak x-show="modalTransactionDetail"
                x-transition:enter="transition ease-out duration-300 transform"
                x-transition:enter-start="opacity-0" 
                x-transition:enter-end="opacity-100"
                x-transition:leave="transition ease-in duration-200 transform"
                x-transition:leave-start="opacity-100" 
                x-transition:leave-end="opacity-0"
                class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-40" aria-hidden="true"
            ></div>

            <div x-cloak x-show="modalTransactionDetail"
                x-transition:enter="transition ease-out duration-300 transform"
                x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" 
                x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                x-transition:leave="transition ease-in duration-200 transform"
                x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100" 
                x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                class="inline-block w-full max-w-5xl p-8 my-20 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl"
            >
                <div class="flex items-center justify-between space-x-4">
                    <h1 class="text-xl font-medium text-gray-800">Détails de la transaction</h1>
                    <button 
                        hx-get="{% url 'transactions:transactions_list' %}" 
                        hx-target="#transaction-block"
                        hx-push-url='/transactions'
                        class="text-gray-600 focus:outline-none hover:text-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </button>
                </div>
                <!-- Contenu du modal -->
                <div class="mt-4 mb-6 p-6 bg-white dark:bg-gray-800 rounded-lg shadow-md">
                    <div class="mb-4">
                        <h2 class="flex text-xl items-center text-sm text-gray-700 dark:text-gray-400 bg-green-100 dark:bg-green-900 rounded p-2">
                            <span class="mr-2">📦 </span> <strong class="mr-1">Produit :</strong> {{ transaction_details.product }}
                            <span class="mr-2">_ID_{{ transaction_details.id }}</span>
                        </h2>
                        <hr class="my-2 border-gray-300 dark:border-gray-600">
                    </div>
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-indigo-100 dark:bg-indigo-900 rounded p-2">
                            <span class="mr-2">📅</span> <strong class="mr-1">Date :</strong> {{ transaction_details.date }}
                        </p>
                        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-blue-100 dark:bg-blue-900 rounded p-2">
                            <span class="mr-2">👤</span> <strong class="mr-1">Producteur :</strong> {{ transaction_details.producer }}
                        </p>
                        
                        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-yellow-100 dark:bg-yellow-900 rounded p-2">
                            <span class="mr-2">🔄</span> <strong class="mr-1">Type de transaction :</strong> {{ transaction_details.transaction_type }}
                        </p>
                        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-red-100 dark:bg-red-900 rounded p-2">
                            <span class="mr-2">💲</span> <strong class="mr-1">Prix :</strong> CDF {{ transaction_details.price|floatformat:2|intcomma }}
                        </p>
                        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-purple-100 dark:bg-purple-900 rounded p-2">
                            <span class="mr-2">🔢</span> <strong class="mr-1">Quantité :</strong> {{ transaction_details.quantity }}
                        </p>
                        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-pink-100 dark:bg-pink-900 rounded p-2">
                            <span class="mr-2">⚖️</span> <strong class="mr-1">Unité de mesure :</strong> {{ transaction_details.unit_of_measure }}
                        </p>
                        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-teal-100 dark:bg-teal-900 rounded p-2">
                            <span class="mr-2">💵</span> <strong class="mr-1">Monnaie :</strong> {{ transaction_details.currency }}
                        </p>
                        
                        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-orange-100 dark:bg-orange-900 rounded p-2">
                            <span class="mr-2">📍</span> <strong class="mr-1">Province du producteur :</strong> {{ transaction_details.producer_province }}
                        </p>
                        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-lime-100 dark:bg-lime-900 rounded p-2">
                            <span class="mr-2">📍</span> <strong class="mr-1">Province du fournisseur :</strong> {{ transaction_details.supplier_province }}
                        </p>
                        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-cyan-100 dark:bg-cyan-900 rounded p-2">
                            <span class="mr-2">📍</span> <strong class="mr-1">Province du client :</strong> {{ transaction_details.client_province }}
                        </p>
                        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-rose-100 dark:bg-rose-900 rounded p-2">
                            <span class="mr-2">💰</span> <strong class="mr-1">Prix total (CDF) :</strong> CDF {{ transaction_details.total_price_cdf|floatformat:2|intcomma }}
                        </p>
                        {% if transaction.type == 'sale' %}
                            <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-gray-100 dark:bg-gray-700 rounded p-2">
                                <span class="mr-2">👔</span> <strong class="mr-1">Client :</strong> {{ transaction_details.client }}
                            </p>
                        {% elif transaction.type == 'purchase' %}
                            <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-gray-100 dark:bg-gray-700 rounded p-2">
                                <span class="mr-2">🚚</span> <strong class="mr-1">Fournisseur :</strong> {{ transaction_details.supplier }}
                            </p>
                        {% endif %}
                    </div>
                </div>
                

                <!-- Buttons d'action -->   
                <div class="mt-4 flex justify-end items-center space-x-4">
                    
                    <button 
                        hx-get="{% url 'transactions:transactions_list' %}" 
                        hx-target="#transaction-block"
                        hx-push-url='/transactions'
                        class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                    >
                        Fermer
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
