<!-- transactions/producers/partials/producer-detail.html -->
{% load widget_tweaks %}
{% load humanize %}
{% load crispy_forms_tags %}

<div class="mt-4 mb-6 p-6 bg-white dark:bg-gray-800 rounded-lg shadow-md">
    <div class="flex justify-between items-center mb-4">
        <h2 class="flex items-center text-xl text-gray-700 dark:text-gray-400 bg-blue-100 dark:bg-blue-900 rounded p-2">
            <span class="mr-2">🏢</span> <strong class="mr-1">Producteur :</strong> {{ producer.name|default_if_none:"Non spécifié" }}
            <span class="ml-2">ID_{{ producer.id }}</span>
        </h2>
        <p class="flex items-center text-xl text-gray-700 dark:text-gray-400 bg-green-100 dark:bg-green-900 rounded p-2">
            <span class="mr-2">💰</span> <strong class="text-lg text-green-700 dark:text-green-300">CDF {{ producer.total_purchases|floatformat:2|intcomma|default_if_none:"0" }}</strong>
        </p>
    </div>
    <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-green-100 dark:bg-green-900 rounded p-2">
        <span class="mr-2">👤</span> <strong class="mr-1">Nom du gestionnaire :</strong> {{ producer.manager_name|default_if_none:"Non spécifié" }}
    </p>

    <hr class="my-2 border-gray-300 dark:border-gray-600">
    
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        {% comment %} 
        <div class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-yellow-100 dark:bg-yellow-900 rounded p-2">
            <span class="mr-2">📸</span> <strong class="mr-1">Photo :</strong>
            <img src="{{ producer.photo.url }}" alt="Photo de {{ producer.name }}" class="ml-2 w-20 h-20 object-cover rounded">
        </div> 
        {% endcomment %}
        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-purple-100 dark:bg-purple-900 rounded p-2">
            <span class="mr-2">🏷️</span> <strong class="mr-1">Catégorie :</strong> {{ producer.category|default_if_none:"Non spécifiée" }}
        </p>
        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-blue-100 dark:bg-blue-900 rounded p-2">
            <span class="mr-2">🌍</span> <strong class="mr-1">Pays :</strong> {{ producer.country|default_if_none:"Non spécifié" }}
        </p>
        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-teal-100 dark:bg-teal-900 rounded p-2">
            <span class="mr-2">📍</span> <strong class="mr-1">Province :</strong> {{ producer.province|default_if_none:"Non spécifiée" }}
        </p>
        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-indigo-100 dark:bg-indigo-900 rounded p-2">
            <span class="mr-2">🏠</span> <strong class="mr-1">Adresse :</strong> {{ producer.address|default_if_none:"Non spécifiée" }}
        </p>
        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-pink-100 dark:bg-pink-900 rounded p-2">
            <span class="mr-2">✉️</span> <strong class="mr-1">Email :</strong> {{ producer.email|default_if_none:"Non spécifié" }}
        </p>
        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-red-100 dark:bg-red-900 rounded p-2">
            <span class="mr-2">📞</span> <strong class="mr-1">Téléphone :</strong> {{ producer.phone_number|default_if_none:"Non spécifié" }}
        </p>
        
        <hr class="my-2 border-gray-300 dark:border-gray-600">

        <h6 class="text-lg text-gray-700 dark:text-gray-400">Autres informations</h6>
        <div class="flex flex-col space-y-1 text-xs text-gray-700 dark:text-gray-400 bg-yellow-100 dark:bg-yellow-900 rounded p-2">
            <span class="mr-2">🏭</span> <strong class="mr-1">Secteur d'activité :</strong>
            <ul class="list-disc pl-5">
                {% for sector in producer.sector_label.all %}
                    <li>{{ sector }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="flex flex-col space-y-1 text-xs text-gray-700 dark:text-gray-400 bg-purple-100 dark:bg-purple-900 rounded p-2">
            <span class="mr-2">🛠️</span> <strong class="mr-1">Produits/Services :</strong>
            <ul class="list-disc pl-5">
                {% for product in producer.product.all %}
                    <li>{{ product }}</li>
                {% endfor %}
            </ul>
        </div>
        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-green-100 dark:bg-green-900 rounded p-2">
            <span class="mr-2">👤</span> <strong class="mr-1">Nom du gestionnaire :</strong> {{ producer.manager_name|default_if_none:"Non spécifié" }}
        </p>
        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-blue-100 dark:bg-blue-900 rounded p-2">
            <span class="mr-2">🔢</span> <strong class="mr-1">Numéro impôt :</strong> {{ producer.tax_code|default_if_none:"Non spécifié" }}
        </p>
        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-teal-100 dark:bg-teal-900 rounded p-2">
            <span class="mr-2">🆔</span> <strong class="mr-1">Identité nationale :</strong> {{ producer.nat_id|default_if_none:"Non spécifiée" }}
        </p>
        <p class="flex items-center text-sm text-gray-700 dark:text-gray-400 bg-indigo-100 dark:bg-indigo-900 rounded p-2">
            <span class="mr-2">📄</span> <strong class="mr-1">NRC :</strong> {{ producer.nrc|default_if_none:"Non spécifié" }}
        </p>
    </div>
</div>
