
<!-- transactions/templates/transactions/transactions/transactions_list.html -->

{% extends 'transactions/base.html' %}

{% block title %}
Liste des transactions - DRC Transactions
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Liste des transactions</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Acheteur</th>
                        <th>Vendeur</th>
                        <th>Prix</th>
                        <th>Quantité</th>

                        <!-- Ajoutez d'autres colonnes selon vos besoins -->
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.date }}</td>
                        <td>{{ transaction.type }}</td>
                        <td>{{ transaction.client }}</td>
                        <td>{{ transaction.supplier }}</td>
                        <td>{{ transaction.price }}</td>
                        <td>{{ transaction.quantity }}</td>
                        <!-- Ajoutez d'autres colonnes selon vos besoins -->
                        <td>
                            <a href="{% url 'edit_transaction' transaction.pk %}" class="btn btn-sm btn-primary">Éditer</a>
                            <a href="{% url 'remove_transaction_confirmation' transaction.pk %}" class="btn btn-sm btn-danger">Supprimer</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">Aucune transaction trouvée.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'add_transaction' %}" class="btn btn-primary">Ajouter un transaction</a>
        </div>
    </div>
</div> 
{% endblock %} 
