<!-- transactions/templates/transactions/transactions/transaction_delete.html -->

{% extends 'transactions/transaction/transaction_base.html' %}
{% load static %}
{% block content_profile_delete %}

<div class="modal fade" id="deleteTransactionModal" tabindex="-1" aria-labelledby="deleteTransactionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deleteTransactionModalLabel">Supprimer Producteur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir supprimer cette transaction ? Cette action est irréversible.</p>
            </div>
            <div class="modal-footer">
                <form method="post" action="{% url 'transaction_delete' transaction.id %}">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}