<!-- transactions/templates/transactions/transactions/transaction_form.html -->

{% extends 'transactions/base.html' %}

{% block title %}
{% if transaction %}
Éditer {{ transaction.company_name }} - DRC Transactions
{% else %}
Ajouter un Transaction - DRC Transactions
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>{% if transaction %}Éditer {{ transaction.type}}{% else %}Ajouter une Transaction{% endif %}</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}