<!-- transactions/transactions/transactions-list.html -->

{% extends 'transactions/base.html' %}

{% block head_title %}
    Transactions List
{% endblock %}


{% block content %}


<div class="container px-6 mx-auto grid" id="transaction-block">

    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Transactions List
    </h2>
    
    {% include 'transactions/transactions/partials/transactions-container.html' %}

</div>

{% endblock %}

{% block js %}

{% endblock %}